{% extends "layout.html" %}

{% block title %}
<title> Stacked Name Visualization </title>
{% endblock %}

{% block body %}
<style type="text/css">
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x-axis path {
  display: none;
}

</style>

<div id="stacked_names"></div>

<script>

var margin = {top: 30, right: 0, bottom: 40, left: 60}
var width = document.documentElement.clientWidth - margin.left - margin.right - 30
var height = document.documentElement.clientHeight - margin.top - margin.bottom - 90

// Set up d3 SVG
var svg = d3.select("#stacked_names").append("svg")
  .attr("class", "stacked-svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
.append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var xScale = d3.scale.ordinal()
  .rangeRoundBands([3, width], .1);

var yScale = d3.scale.linear()
  .rangeRound([height, 24]);

var xAxis = d3.svg.axis()
  .scale(xScale)
  .orient("bottom");

var yAxis = d3.svg.axis()
  .scale(yScale)
  .orient("left")
  .tickFormat(d3.format(".2s"));

// Set up x axis positioning in svg
svg.append("g")
.attr("class", "x-axis")
.attr("transform", "translate(0," + height + ")")
.call(xAxis);

// Set up y axis positioning and label
svg.append("g")
  .attr("class", "y-axis")
  .call(yAxis)
  .append("text")
    .attr("y", 3)
    .attr("x", -24)
    .attr("transform", "rotate(-90)")
    .attr("dy", ".71em")
    .style("text-anchor", "end")
    .text("Steps");

// Set up our days to color mapping
var cScale = d3.scale.ordinal()

getInfoAndRender();

// Run our leaderboard on a loop, updating every 10 seconds
var looper = setInterval(function(){getInfoAndRender()}, 10000)

// Gets the data from the server, passes it to our D3 js
function getInfoAndRender() {
  $.getJSON("/get_stacks", function(data) {
    updateStackedGraph(data);
  });
}

function updateStackedGraph(data) {

  xScale.domain(data.map(function(d){return d.username}))
        .rangeRoundBands([3, width], .1);
  yScale.domain([0, d3.max(data, function(d){ return d.interaction_time; } )]);

  var interactions = svg.selectAll(".interactions")
  	.data( data )

  interactions.transition()
      .duration(750)
      .attr("x", function(d){ return xScale(d.id1) })
      .attr("y", function(d){ return yScale(d.interaction_time) })
      .text(function(d){return d.id2})

  interactions.enter()
      .append("text")
      .attr("class", "interactions")
      .attr("x", function(d){ return xScale(d.id1) })
      .attr("y", function(d){ return yScale(d.interaction_time); })
      .attr("text-anchor", "middle")
      .style("fill", "#000000")
      .style("fill-opacity", 0)
      .text(function(d){return d.id2})
    .transition()
      .duration(750)
      .style("fill-opacity", 1);

  interactions.exit()
    .transition()
      .duration(750)
      .style("fill-opacity", 0)
      .remove();

  svg.select(".x-axis")
    .transition()
    .duration(500)
    .call(xAxis);

  svg.select(".y-axis")
    .transition()
    .duration(500)
    .call(yAxis);

}
</script>

{% endblock %}
